@import url("../fonts/awesome/fontawesome-all.min.css");
@font-face {
  font-family: 'gothemBol';
  src: url("../fonts/GothaProBol.otf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'gothem';
  src: url("../fonts/GothaProReg.otf");
  font-weight: 400;
  font-style: normal; }
body {
  font-family: 'gothem';
  font-size: 18px;
  background-color: #f1f1f1;
  color: #bfc0c3; }

.hidden {
  display: none; }

/**
 *	text
 */
p {
  line-height: 1.8em; }

.p-bold {
  font-family: 'gothemBol'; }

.p-slow {
  visibility: hidden; }

.item-titl {
  font-family: 'gothemBol';
  color: #53545e;
  font-size: 1.3em;
  margin: 0.9em 0;
  text-transform: uppercase; }

.col-12.bortop {
  margin-bottom: 1em; }
  .col-12.bortop div {
    border-top: 2px solid #95969f; }

/**
 *	BUTTON
 */
button.btn {
  font-family: 'gothemBol';
  color: #ffffff;
  background-color: #53545e;
  border-radius: 0;
  padding-top: 0.6rem !important;
  text-transform: uppercase;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease; }

button.btn:hover {
  color: #ffd27f;
  box-shadow: 5px 5px 5px #cbcbce; }

/**
 *	Modal
 */
.modal {
  border-radius: none;
  box-shadow: 10px 10px 10px #bfc0c3; }
  .modal .modal-dialog {
    /*		position: relative;
    		top: 50% !important;
    		transform: translateY( -75% )  !important;*/ }
  .modal .modal-header {
    background-color: #f1f1f1; }
    .modal .modal-header .item-titl {
      margin: 0; }
  .modal form .modal-footer {
    padding: 0; }
  .modal label {
    color: #53545e; }

#sec-send.modal .modal-body {
  text-align: center;
  color: red; }

.red-alarm {
  border-color: red; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body {
    font-size: 12px; } }
@media only screen and (max-width: 766px) {
  body {
    font-size: 12px; } }
header .container-fluid {
  background-color: #e1e1e1; }
header .container {
  background-color: #53545e;
  padding: 68px 60px; }
  header .container a {
    width: 100%;
    padding: 0; }
    header .container a img {
      width: 100%; }
  header .container .ml-auto {
    align-self: flex-end;
    text-align: right; }
header p {
  margin: 0;
  color: #ffffff; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  header .container {
    padding: 34px 30px; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  header .container {
    padding: 34px 30px; }
  header p {
    font-size: 12px; } }
@media only screen and (max-width: 766px) {
  header .container {
    padding: 34px 30px; }
  header p {
    font-size: 12px; } }
#index-page .container {
  background-color: #ffffff;
  padding: 30px 60px 2em; }
  #index-page .container .row {
    padding-top: 2em; }
  #index-page .container .col-12.bortop {
    margin: 0; }
    #index-page .container .col-12.bortop div {
      border-color: #eaeaea; }
  #index-page .container button {
    margin: 0.6em 0 0 0; }
#index-page .item-heading-small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; }
  #index-page .item-heading-small .img-div {
    height: 240px; }
#index-page .item-heading, #index-page .item-heading-small {
  height: 100%; }
  #index-page .item-heading .img-div, #index-page .item-heading-small .img-div {
    overflow: hidden; }
    #index-page .item-heading .img-div img, #index-page .item-heading-small .img-div img {
      width: 100%;
      -webkit-transition: all 700ms ease;
      -moz-transition: all 700ms ease;
      -o-transition: all 700ms ease;
      transition: all 700ms ease; }
  #index-page .item-heading .img-div:hover img, #index-page .item-heading-small .img-div:hover img {
    transform: scale(1.1, 1.1); }
#index-page #small-item-row .bortop {
  margin-bottom: 2em; }
#index-page #photo-row img {
  width: 100% !important; }
#index-page #photo-row .bortop {
  margin-bottom: 2em; }
#index-page #blog-post-row.row p.item-titl.p-bold {
  margin-top: 0 !important; }

@media only screen and (max-width: 766px) {
  #index-page .item-heading-small .img-div {
    height: unset; }
  #index-page #photo-row .img-div {
    margin-bottom: 2em; } }
footer {
  color: #ffffff; }
  footer .container-fluid {
    background-color: #e1e1e1; }
  footer .container {
    background-color: #53545e;
    padding: 30px 60px 16px 60px; }
  footer .container#social {
    background-color: #f1f1f1;
    padding: 30px 60px; }
    footer .container#social .col-auto {
      margin-top: 30px; }
    footer .container#social .col-md-4 {
      display: flex;
      align-items: center; }
      footer .container#social .col-md-4 .item-titl {
        margin: 0; }
    footer .container#social .col-md-8 {
      display: flex;
      justify-content: space-between; }
      footer .container#social .col-md-8 a {
        display: inline-block;
        width: 3em;
        height: 3em;
        background-color: #e1e1e1;
        color: #000000;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        transition: all 400ms ease; }
        footer .container#social .col-md-8 a i {
          font-size: 1.3em; }
        footer .container#social .col-md-8 a img {
          width: 1.5em; }
      footer .container#social .col-md-8 a:hover {
        border: 1px solid #53545e;
        background-color: #f1f1f1; }
  footer ul {
    list-style: none; }
    footer ul li {
      line-height: 2em; }
    footer ul li:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f105";
      margin-right: 10px; }
    footer ul a {
      text-decoration: none;
      color: #ffffff;
      font-size: 1.1em;
      -webkit-transition: all 400ms ease;
      -moz-transition: all 400ms ease;
      -o-transition: all 400ms ease;
      transition: all 400ms ease; }
    footer ul a:hover {
      color: #ffd27f; }
  footer #copyright-row {
    margin-top: 1em; }
    footer #copyright-row p {
      margin: 0;
      color: #95969f; }
    footer #copyright-row span {
      color: #ffffff; }
    footer #copyright-row .col-md-4 {
      text-align: right; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  footer .container#social {
    padding: 30px 30px; }
  footer .container {
    padding: 30px 30px 16px 30px; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  footer .container#social {
    padding: 30px 30px; }
  footer .container {
    padding: 30px 30px 16px 30px; } }
@media only screen and (max-width: 766px) {
  footer .container#social {
    padding: 30px 30px; }
  footer .container {
    padding: 30px 30px 16px 30px; } }

/*# sourceMappingURL=style.css.map */
