$fluid-bck: #e1e1e1;
$header-b-colr: #53545e;
$footer-b-colr: #53545e;
$footer-social-b-colr: #f1f1f1;
$body-bck: #f1f1f1;
$p-color: #bfc0c3;
$item-border: #95969f;
$button-hover: #ffd27f;


body {
	font-family: 'gothem';
	font-size: 18px;
	background-color: $body-bck;
	color: $p-color;
}
.hidden {
	display: none;
}
/**
 *	text
 */
p {
	line-height: 1.8em;
}
.p-bold {
	font-family: 'gothemBol';
}
.p-slow {
	visibility: hidden;
}
.item-titl {
	font-family: 'gothemBol';
	color: #53545e;
	font-size: 1.3em;
	margin: 0.9em 0;
	text-transform: uppercase;
}

.col-12.bortop {
	margin-bottom: 1em;
	& div {
		border-top: 2px solid $item-border;
	}
}

/**
 *	BUTTON
 */
button.btn {
	font-family: 'gothemBol';
	color: #ffffff;
	background-color: $footer-b-colr;
	border-radius: 0;
	padding-top: 0.6rem !important;
	text-transform: uppercase;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
button.btn:hover {
	color: $button-hover;
	box-shadow: 5px 5px 5px #cbcbce;
}


/**
 *	Modal
 */
.modal {
	border-radius: none;
	box-shadow: 10px 10px 10px $p-color;
	
	.modal-dialog {
/*		position: relative;
		top: 50% !important;
		transform: translateY( -75% )  !important;*/
	}
	& .modal-header {
		background-color: $footer-social-b-colr;
		& .item-titl {
			margin: 0;
		}
	}
	& form .modal-footer {
		padding: 0;
	}
	& label {
		color: #53545e;
	}
}
#sec-send.modal .modal-body {
	text-align: center;
	color: red;
}
.red-alarm {
	border-color: red;
}



@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1024px) {
		
}
@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1024px)
	and (orientation: portrait) {
		
	body {
		font-size: 12px;
	}
}
@media only screen and (max-width: 766px) {
	body {
		font-size: 12px;
	}

}