footer {
	color: #ffffff;
	
	& .container-fluid {
		background-color: $fluid-bck;
	}
	& .container {
		background-color: $footer-b-colr;
		padding: 30px 60px 16px 60px;
	}
	& .container#social {
		background-color: $footer-social-b-colr;
		padding: 30px 60px;
		
		& .col-auto {
			margin-top: 30px;
		}
		& .col-md-4 {
			display: flex;
			align-items: center;
			
			& .item-titl {
				margin: 0;
			}
		}
		& .col-md-8 {
			display: flex;
			justify-content: space-between;

			& a {
				display: inline-block;
				width: 3em;
				height: 3em;
				background-color: #e1e1e1;
				color: #000000;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				-webkit-transition: all 400ms ease;
				-moz-transition: all 400ms ease;
				-o-transition: all 400ms ease;
				transition: all 400ms ease;
				
				& i {
					font-size: 1.3em;
				}
				& img {
					width: 1.5em;
				}
			}
			& a:hover {
				border: 1px solid $footer-b-colr;
				background-color: $footer-social-b-colr;
			}			
		}
	}
	& ul {
		list-style: none;
		
		& li {
			line-height: 2em;
		}
		& li:before {
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			content: "\f105";
			margin-right: 10px;
		}
		& a {
			text-decoration: none;
			color: #ffffff;
			font-size: 1.1em;
			-webkit-transition: all 400ms ease;
			-moz-transition: all 400ms ease;
			-o-transition: all 400ms ease;
			transition: all 400ms ease;
		}
		& a:hover {
			color: $button-hover;
		}
	}
	& #copyright-row {
		margin-top: 1em;
		& p {
			margin: 0;
			color: #95969f;
		}
		& span {
			color: #ffffff;
		}
		& .col-md-4 {
			text-align: right;
		}
	}
}


@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1024px) {

	footer {
		& .container#social {
			padding: 30px 30px;
		}
		& .container {
			padding: 30px 30px 16px 30px;
		}
	}
		
}
@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1024px)
	and (orientation: portrait) {
		
	footer {
		& .container#social {
			padding: 30px 30px;
		}
		& .container {
			padding: 30px 30px 16px 30px;
		}
	}
}
@media only screen and (max-width: 766px) {
	footer {
		& .container#social {
			padding: 30px 30px;
		}
		& .container {
			padding: 30px 30px 16px 30px;
		}
	}
}