header {
	& .container-fluid {
		background-color: $fluid-bck;
	}
	& .container {
		background-color: $header-b-colr;
		padding: 68px 60px;
		
		& a {
			width: 100%;
			padding: 0;
			
			& img {
				width: 100%;
			}
		}		
		& .ml-auto {
			align-self: flex-end;
			text-align: right;
		}
	}
	& p {
		margin: 0;
		color: #ffffff;
	}
}

@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1024px) {

	header {
		& .container {
			padding: 34px 30px;
		}
	}
		
}
@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1024px)
	and (orientation: portrait) {
		
	header {
		& .container {
			padding: 34px 30px;
		}
		& p {
			font-size: 12px;
		}
	}
}
@media only screen and (max-width: 766px) {
	header {
		& .container {
			padding: 34px 30px;
		}
		& p {
			font-size: 12px;
		}
	}
}