#index-page {
	& .container {
		background-color: #ffffff;
		padding: 30px 60px 2em;
		
		& .row {
			padding-top: 2em;
		}
		& .col-12.bortop {
			margin: 0;
			& div {
				border-color: #eaeaea;
			}
		}
		& button {
			margin: 0.6em 0 0 0;
		}
	}
	& .item-heading-small {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
				
		& .img-div {
			height: 240px;
		}
	}
	& .item-heading,
	& .item-heading-small {
		height: 100%;
		
		& .img-div {
			overflow: hidden;
			
			& img {
				width: 100%;
				-webkit-transition: all 700ms ease;
				-moz-transition: all 700ms ease;
				-o-transition: all 700ms ease;
				transition: all 700ms ease;
			}
		}
		& .img-div:hover img {
			transform: scale( 1.1, 1.1 );
		}
	}
	& #small-item-row {
		.bortop {
			margin-bottom: 2em;
		}
	}
	& #photo-row {
		& img {
			width: 100% !important;
		}
		.bortop {
			margin-bottom: 2em;
		}
	}
	& #blog-post-row.row p.item-titl.p-bold {
		margin-top: 0 !important;
	}
}

@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1024px) {

		
}
@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1024px)
	and (orientation: portrait) {
		
}
@media only screen and (max-width: 766px) {
	#index-page {
		& .item-heading-small {
			& .img-div {
				height: unset;
			}
		}
		& #photo-row {
			& .img-div {
				margin-bottom: 2em;
			}
		}
	}
}