@import url( "../fonts/awesome/fontawesome-all.min.css");

@font-face{
	font-family: 'gothemBol';
	src: url('../fonts/GothaProBol.otf');
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: 'gothem';
	src: url('../fonts/GothaProReg.otf');
	font-weight: 400;
	font-style: normal;
}


@import '_all';
@import '_header';
@import '_index';
@import '_footer';
